<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Cogmento.Com ">

<listeners>
<listener class-name="com.crm.extentReportListener.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Cogment Test Automation Framework">
    <classes>
         <class name="com.crm.qa.testcases.LoginPageTest"/>
      <class name="com.crm.qa.testcases.ContactsPageTest"/>
      <class name="com.crm.qa.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->